[submodule "yellowEditor/vendor/nanogui"]
	path = yellowEditor/vendor/nanogui
	url = https://github.com/wjakob/nanogui

[submodule "yellowEngine/vendor/assimp"]
	path = yellowEngine/vendor/assimp
	url = https://github.com/assimp/assimp

[submodule "yellowEngine/vendor/GLFW"]
	path = yellowEngine/vendor/GLFW
	url = https://github.com/glfw/glfw

[submodule "yellowEngine/vendor/jsoncpp"]
	path = yellowEngine/vendor/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp

[submodule "yellowEngine/vendor/stb_image"]
	path = yellowEngine/vendor/stb_image
	url = https://github.com/nothings/stb

[submodule "yellowEngine/vendor/tinyxml2"]
	path = yellowEngine/vendor/tinyxml2
	url = https://github.com/leethomason/tinyxml2
