[submodule "yellowEngine/vendor/assimp"]
	path = yellowEngine/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "yellowEngine/vendor/glfw"]
	path = yellowEngine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "yellowEngine/vendor/jsoncpp"]
	path = yellowEngine/vendor/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "yellowEngine/vendor/stb"]
	path = yellowEngine/vendor/stb
	url = https://github.com/nothings/stb
[submodule "yellowEditor/vendor/imgui"]
	path = yellowEditor/vendor/imgui
	url = https://github.com/ocornut/imgui
